.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/2e/007dff23f4650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/3b/f0229a236c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/3c/a0448a846c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/3e/4062135e6a6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/4b/c04401206c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/5/2099fe776c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/5c/e03e74b9686300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/6a/405378b6f5650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/6a/301952806c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/7c/c0c340f4656300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/7d/204a3d1d696300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/8/b030c790686300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/8c/40998351f5650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/8e/b06a6b636c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/9b/60d151d6f4650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/9b/604cbf526a6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/12/a07dd9566c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/15/c0f03861606300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/25/f06ac9ab6c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/27/d0483b41616300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/33/d069983b616300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/48/8003b7b9f5650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/50/b01af296f5650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/51/20a9ad56606300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/53/c0f496cc656300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/56/3007e0c4f4650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/61/b03d746ff5650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/65/30002157676300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/66/80d50825696300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/80/30805b8d6c6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/aa/001c3761606300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/b7/b08e4025666300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/ba/5074a3ec656300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/c0/d0190984f5650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/c4/708d6868646300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/c7/d05a1961606300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/c9/40afb05a6a6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/cd/10bcd507666300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/cd/20f5b920666300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/d1/3029ba77f5650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/d7/c00963a0656300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/dc/d07b3b8b6b6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/e8/703b87a8706300151d50dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/f/a08af01f666300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/f4/10a474626b6300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.history/ff/40295ce4656300151d51dc437f2a1cf0
.metadata/.plugins/org.eclipse.core.resources/.projects/Intro2AI/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Intro2AI/.indexes/e4/96/28/58/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Intro2AI/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Intro2AI/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/BreadthFirstSearch.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/129585322.index
.metadata/.plugins/org.eclipse.jdt.core/156905802.index
.metadata/.plugins/org.eclipse.jdt.core/381751433.index
.metadata/.plugins/org.eclipse.jdt.core/649907869.index
.metadata/.plugins/org.eclipse.jdt.core/869281069.index
.metadata/.plugins/org.eclipse.jdt.core/1109683653.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
.metadata/.plugins/org.eclipse.jdt.core/1438483007.index
.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
.metadata/.plugins/org.eclipse.jdt.core/1919879087.index
.metadata/.plugins/org.eclipse.jdt.core/2158765351.index
.metadata/.plugins/org.eclipse.jdt.core/2403717538.index
.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
.metadata/.plugins/org.eclipse.jdt.core/3546884580.index
.metadata/.plugins/org.eclipse.jdt.core/3599676839.index
.metadata/.plugins/org.eclipse.jdt.core/3618658334.index
.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
.metadata/.plugins/org.eclipse.jdt.core/3883080193.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Intro2AI/2015/9/39/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Intro2AI/2015/9/39/refactorings.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/write.lock
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182326-1-call.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/resolver-status.properties
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
.metadata/.plugins/org.eclipse.core.resources/.history/1a/103eab01f9650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/2a/e044dc7900660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/2d/f0d1a18000660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/3a/7090ab86fd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/3b/00995d8e00660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/4c/a0daed80f6650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/4f/20b59032f7650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/7a/9052196bf6650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/7b/20027baef8650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/9/0080a68600660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/15/801a2fe1fd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/21/50351ed1fc650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/22/40fdc697fd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/24/50fda3c6ff650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/25/40f16f85ff650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/29/f0664cf3fd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/36/20e6275c00660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/37/f0ca246cfd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/56/30e8efe3fd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/60/90b3595df9650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/62/2047a0bcfd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/68/500b1bcdf6650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/71/803f4bb100660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/78/80cab60cff650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/99/6004034efd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/a6/70dce681fd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/aa/90b1989ef8650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/ae/20c3bcd0f6650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/b/a010097bf6650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/b0/a082a2f9f8650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/b3/40b52ab3fd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/c0/1039e4dfff650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/c2/b024d1f8ff650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/c5/b0ba5bc300660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/c6/70a35fd000660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/cd/f0ecfecbf6650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/d3/0031638200660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/d3/e0dfbda700660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/db/90c729f5ff650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/df/a091b8ffff650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/e0/80257bbdf7650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/e8/f0e795b200660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/ef/10e712a1fd650015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.core.resources/.history/fc/70d17f7d00660015159cfc1d48003c0e
.metadata/.plugins/org.eclipse.debug.core/.launches/DepthFirstSearch.launch
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.core.resources/.projects/Intro2AI/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
